---
title: Pricing
heading: Find the perfect plan for your business
description: All plans include our award winning sales optimization solution to track your sales in real time.
pricing_table:
  - name: Basic
    color: "#cd7f32"
    features:
      - text: $1000-9999 total contribution limit
        highlight: true
      - text: 15-25% target gain (1Y)
        highlight: false
      - text: Common Stock support
        highlight: false
      - text: ETF/ETN support
        highlight: false
      - text: Basic reporting
        highlight: false
      - text: Half-year early withdrawal
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=basic
      text: Get started with Basic
  - name: Plus
    color: "#C0C0C0"
    features:
      - text: $10k to 50k total contribution limit
        highlight: true
      - text: Everything in Basic
        highlight: false
      - text: 20-35% target gain (1Y)
        highlight: false
      - text: Options Support
        highlight: false
      - text: Leveraged ETF support
        highlight: false
      - text: Quarterly early withdrawal
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=pro
      text: Get started with Plus
  - name: Ultra
    color: "#FFD700"
    features:
      - text: $50k+ total contribution limit
        highlight: true
      - text: Everything in Basic and Plus
        highlight: false
      - text: 30-65% target gain (1Y)
        highlight: false
      - text: <7 dte option support
        highlight: false
      - text: Outright crypto support
        highlight: false
      - text: Month-to-month early withdrawal
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=professional
      text: Get started with Ultra
Pricing Questions:
  - question: How does the plan system work?
    answer: You will be assigned a plan basaed on how much you contribute in accordance with the outlined limit. To upgrade or downgrade, simply add or remove money.
  - question: How do early withdrawals work?
    answer: Your funds are generally locked in for 1 full calendar year to allow for enough time to achieve target return. Depending on plan choice, you will be given 2, 4, or 12 equally spaced chances to make an early withdrawal and realise any gains/losses up to that point.
  - question: Why do the target gains vary by amount contributed?
    answer: More money allows for more skin in the game for multiple sectors at once. Higher tier-plans also use riskier strategies such as options or leveraged trading to generate higher returns.
  - question: Am I guaranteed the target return.?
    answer: Short Answer: No. Long answer: On a good year, yes but please read: <a href="#">john@business.com</a>.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
